

                </div>
                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>
    </body>

    <!-- jQuery -->
    <script src="/public/admin/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/public/admin/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/public/admin/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/public/admin/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/public/admin/Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="/public/admin/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- morris.js -->
    <script src="/public/admin/raphael/raphael.min.js"></script>
    <script src="/public/admin/morris.js/morris.min.js"></script>
    <!-- gauge.js -->
    <script src="/public/admin/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/public/admin/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- Skycons -->
    <script src="/public/admin/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/public/admin/Flot/jquery.flot.js"></script>
    <script src="/public/admin/Flot/jquery.flot.pie.js"></script>
    <script src="/public/admin/Flot/jquery.flot.time.js"></script>
    <script src="/public/admin/Flot/jquery.flot.stack.js"></script>
    <script src="/public/admin/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/public/admin/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/public/admin/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/public/admin/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/public/admin/DateJS/build/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/public/admin/moment/min/moment.min.js"></script>
    <script src="/public/admin/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/public/javascript/custom.min.js"></script>
</html>